.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  color: rgb(119, 22, 59);
  font-size: 130%;
}

.home {
color: rgb(71, 17, 42);
}



.nav-item{
  padding-left: 15px;
  padding-right: 15px;
}

.review-header-img {
  height: 450px;
}

.selection-img {
  height: 260px;
  object-fit: contain;
}

.topbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(119, 22, 59);
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
